:root {
    /* --------------------------------- Colores -------------------------------- */
    --color-principal: #2ECC71;
    --color-secundario: #85AF91;
    --color-terciario: #979797;
    --color-cuaternario: #775E6C;
    --color-claro: #f6f1f3;
    --color-oscuro: #3B4145;
    /* --------------------------------- Fuentes -------------------------------- */
    --fuente-principal: 'Montserrat', sans-serif;
    --fuente-secundaria: 'Source Sans Pro', sans-serif;
}

html {
    overflow-x: hidden;
}


/* -------------------------------------------------------------------------- */


/*                                   Header                                   */


/* -------------------------------------------------------------------------- */

body {
    background-color: var(--color-claro);
    font-size: 16px;
    font-family: var(--fuente-principal);
    color: var(--color-oscuro);
    overflow-x: hidden;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.navbar-brand img {
    max-width: 4em;
}

.row a i {
    color: var(--color-secundario);
    font-size: 30px;
}

@media (max-width: 992px) {
    .navbar-text {
        margin: 0 auto;
    }
    .navbar-text .row {
        margin: 0 auto;
    }
}


/* -------------------------------------------------------------------------- */


/*                                    Main                                    */


/* -------------------------------------------------------------------------- */

.portada .col {
    background-color: var(--color-secundario);
    color: var(--color-claro);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .portada .col.der {
        display: none;
    }
}

.portada .foto {
    background-size: cover;
    background-position: center;
    width: 50%;
}

.foto.izq {
    background-image: url('../img/portada1.jpg');
    background-position: center;
}

.foto.der {
    background-image: url('../img/portada4.jpg');
    opacity: 0.8;
}

.lightbox .overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: fade(var(--color-claro), 40%);
    background-image: linear-gradient( rgba(10, 8, 8, 0.45), rgba(32, 19, 19, 0.45));
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.overlay:hover {
    opacity: 1;
}

.overlay i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 25px;
}

.texto {
    width: 50%;
    padding: 2.375rem;
}

.texto h2 {
    font-size: 1.8125rem;
    font-weight: 400;
    line-height: 2.6875rem;
    margin-bottom: 1.125rem;
}

.texto p {
    font-size: 0.9375rem;
    line-height: 1.75;
}

.foto-full {
    width: 100%;
    min-height: 15.25rem;
    background-size: cover;
    background-position: center;
}

.foto-full.izq {
    background-image: url('../img/portada-2.jpg');
}

.foto-full.der {
    background-image: url('../img/portada-3.jpeg');
    background-position: top;
}


/* -------------------------------------------------------------------------- */


/*                                  Nosotros                                  */


/* -------------------------------------------------------------------------- */

.nosotros {
    padding: 5.625rem 0;
}

.nosotros .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nosotros .container .col-md-4.izq {
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .nosotros .container .col-md-4.izq {
        border-right: 1px solid var(--color-secundario);
        display: flex;
    }
}

.container .col-sm-8.der p {
    font-size: 1.125rem;
    line-height: 1.75;
}

.titulo-seccion h2 {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 3.687rem;
    margin-bottom: 1.125rem;
    font-style: italic;
    letter-spacing: -0.02em;
}

.titulo-seccion p {
    font-size: 1.15rem;
    color: #777;
}


/* -------------------------------------------------------------------------- */


/*                                   Equipo                                   */


/* -------------------------------------------------------------------------- */

.equipo {
    background: var(--color-secundario);
    padding: 2.625rem 0;
}

.equipo .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.slider {
    box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
}

.slider .titulo-seccion {
    padding: 3.125rem;
    padding-right: 0;
}

.col-md-6 .titulo-seccion h2 {
    color: white;
}

.titulo-seccion p {
    color: fade(var(--color-claro, 70%));
    font-size: 1.125rem;
    line-height: 1.75;
}

.slider {
    width: 300%;
    display: flex;
}

.slide {
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.carousel-item img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}


/* -------------------------------------------------------------------------- */


/*                                 Menu Perros                                */


/* -------------------------------------------------------------------------- */

.nuestros-amigos {
    padding: 4.625rem 0;
}

.nuestros-amigos .container .titulo-seccion h2 {
    text-align: center;
}

.contenedor-perros {
    margin-top: 2.5rem;
}

.contenedor-perros .encabezado {
    font-weight: 600;
    font-family: var(--fuente-secundaria);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: center;
}

.encabezado li a {
    color: var(--color-secundario);
    font-size: 0.95rem;
    padding: 0 1.4375rem 1.125rem 1.4375rem;
    display: block;
    cursor: pointer;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}

.encabezado li a:hover {
    color: var(--color-cuaternario);
    text-decoration: none;
}

.encabezado li a.active {
    color: var(--color-cuaternario);
    border-bottom: 2px solid var(--color-cuaternario);
}

.contenido {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2.5rem;
    border: 6px double var(--color-terciario);
    padding: 0 2.25rem;
}

.contenido>div {
    display: none;
    transition: all .3s ease;
}

.contenido>div.active {
    display: block;
    padding: 15px;
}

.item {
    padding: 2.25rem 0;
    border-bottom: 0.2px solid var(--color-terciario);
}

.item:last-child {
    border-bottom: 0.2px solid transparent;
}

.item .izq h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.625;
}

.item .izq p {
    font-size: 1rem;
    color: #777;
}

.col-sm-4 img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
}


/* -------------------------------------------------------------------------- */


/*                                  Contacto                                  */


/* -------------------------------------------------------------------------- */

.contacto .datos {
    padding: 5.625rem 0 11.875rem 0;
    position: relative;
    background-image: linear-gradient( rgb(133, 175, 145, 0.4), rgb(133, 175, 145, 0.4)), url('/img/contacto-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.datos .overlay {
    width: 100%;
    height: 100%;
    background: fade(var(--color-oscuro), 30%);
    top: 0;
    z-index: 1;
}

.overlay .container {
    position: relative;
    z-index: 2;
}

.blurb {
    background: var(--color-claro);
    border: 5px double var(--color-terciario);
    padding: 2.25rem;
    text-align: center;
    margin-top: 20px;
}

.blurb h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6875rem;
    border-bottom: 1px solid var(--color-terciario);
}

.blurb p {
    font-size: 1em;
    color: #777;
}

.formulario {
    position: relative;
    z-index: 3;
    background: var(--color-claro);
    margin: 0 auto;
    padding: 2.25rem;
    margin-top: -6.25rem;
    width: 90%;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.input {
    font-family: var(--fuente-secundaria);
    font-size: 1rem;
    color: var(--color-oscuro);
    width: 100%;
    outline: none;
    padding: 0.9375rem 0;
    background: none;
    border: none;
    border-bottom: 2px solid rgba(46, 204, 113, 0.5);
    vertical-align: top;
    transition: all .3s ease;
}

textarea {
    max-width: 100%;
    max-height: 10.25rem;
    min-height: 5.125rem;
    min-width: 100%;
}

label {
    color: var(--color-terciario);
    font-family: var(--fuente-secundaria);
}

label.label {
    position: absolute;
    top: 1rem;
    left: 0;
    font-style: 1rem;
    line-height: 1rem;
    margin-left: 0.2rem;
    transition: all .3s ease;
    font-size: 1.2rem;
}

.label.active {
    top: -12px;
    margin-left: 0;
    font-style: 0.75rem;
    line-height: 0.75rem;
    color: var(--color-cuaternario);
}

.error {
    position: absolute;
    color: var(--color-oscuro);
    font-family: var(--fuente-secundaria);
    font-size: 0.875rem;
}

.btn {
    font-family: var(--fuente-secundaria);
    display: block;
    margin: 0 auto;
}


/* -------------------------------------------------------------------------- */


/*                                Pie de pagina                               */


/* -------------------------------------------------------------------------- */

footer {
    margin-top: 2.25rem;
    background-color: var(--color-oscuro);
    padding: 5.625rem 0;
    text-align: center;
    color: var(--color-claro);
}

.botton-redes a {
    padding: 0 0.5625rem;
}

.botton-redes a i {
    color: var(--color-claro);
    transition: all .3s ease;
}

.botton-redes a i:hover {
    color: var(--color-terciario);
}